.sliderSection h3 {
  margin-bottom: 0;
}

#products {
  padding-bottom: 45px;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 16px;
  padding: 40px 20px;
}

.sliderItem {
  width: 356px;
  box-shadow: 0px 3px 16px #00000014;
  border-radius: 16px;
  position: relative;
}

#products .sliderItem {
  height: 530px;
}

#articles .sliderItem {
  height: 355px;
}

.sliderItem p {
  width: 292px;
  padding: 24px 32px 0;
}

#articles p {
  text-align: left;
}

.sliderSection button {
  font: normal normal bold 25px/36px Trebuchet MS, sans-serif;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-transform: lowercase;
  border: none;
  padding: 0;
}

.sliderSection button:hover {
  cursor: pointer;
}

.sliderItem button {
  width: 100%;
  height: 73px;
  border-radius: 0 0 16px 16px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#buttonMore {
  height: 64px;
  width: 100%;
  max-width: 392px;
  border-radius: 16px;
  margin: 20px auto 80px;
  background: #389cd6 0% 0% no-repeat padding-box;
}

@media screen and (min-width: 768px) {
  #products {
    padding-bottom: 100px;
  }
  #buttonMore {
    margin: 20px auto 120px;
    max-width: 356px;
  }
}

@media screen and (min-width: 1024px) {
  .sliderContainer {
    gap: 32px;
    justify-content: center;
  }
}
