#desktopHeader div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 21.6vw;
  height: 80px;
  position: relative;
}
#desktopHeaderLogo {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#desktopHeader button {
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 24px;
}

#desktopHeader ul {
  background: #389cd6 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  height: 48px;
}
li {
  background-color: transparent;
}

li img {
  margin-left: 15px;
}
