:root {
  /* Colors: */
  --unnamed-color-389cd6: #389cd6;
  --white: #ffffff;
  --dark-gray: #7b7070;
  --brand-gray: #9d8e8e;
  --light-gray: #d9d5d5;
  --red: #ee6381;
  --green: #309d5f;
  --unnamed-color-549bd1: #549bd1;
  --unnamed-color-9d8d8d: #9d8d8d;

  /* Font/text values */
  --unnamed-font-family-trebuchet-ms: Trebuchet MS, sans serif;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-25: 25px;
  --unnamed-font-size-31: 31px;
  --unnamed-font-size-39: 39px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0-5: 0.5px;
  --unnamed-character-spacing-0-62: 0.62px;
  --unnamed-character-spacing-0-78: 0.78px;
  --unnamed-character-spacing-0-96: 0.96px;
  --unnamed-character-spacing-0-32: 0.32px;
  --unnamed-character-spacing-0-4: 0.2px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-36: 36px;
  --unnamed-line-spacing-40: 40px;
  --unnamed-line-spacing-50: 50px;
  --unnamed-line-spacing-70: 70px;
  --text-margin: 40px;
  --text-padding: 0.5em;

  /* Univesal text styling */
  text-align: center;
  scroll-behavior: smooth;
}

/* Character Styles */
h1 {
  font-family: var(--unnamed-font-family-trebuchet-ms);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-70);
  letter-spacing: var(--unnamed-character-spacing-0-96);
  color: var(--unnamed-color-549bd1);
}

h3 {
  font-family: var(--unnamed-font-family-trebuchet-ms);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-31);
  line-height: var(--unnamed-line-spacing-40);
  letter-spacing: var(--unnamed-character-spacing-0-62);
  margin: var(--text-margin) 0;
  padding: var(--text-padding);
  color: var(--unnamed-color-549bd1);
}
h4 {
  font-family: var(--unnamed-font-family-trebuchet-ms);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-25);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0-5);
  color: var(--unnamed-color-549bd1);
}

p {
  font-family: var(--unnamed-font-family-trebuchet-ms);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0-32);
  color: var(--dark-gray);
  padding: 0 var(--text-padding) var(--text-margin);
}

.p-large {
  font-family: var(--unnamed-font-family-trebuchet-ms);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0-4);
}

a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-22)
    var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-32);
  color: var(--white);
  text-align: center;
  opacity: 1;
  line-height: 48px;
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 768px) {
  h3 {
    font-family: var(--unnamed-font-family-trebuchet-ms);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-39);
    line-height: var(--unnamed-line-spacing-50);
    letter-spacing: var(--unnamed-character-spacing-0-78);
    color: var(--unnamed-color-549bd1);
  }

  p {
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0-4);
  }
}
