:root {
  /* Colors: */
  --unnamed-color-389cd6: #389cd6;
  --white: #ffffff;
  --dark-gray: #7b7070;
  --brand-gray: #9d8e8e;
  --light-gray: #d9d5d5;
  --red: #ee6381;
  --green: #309d5f;
  --unnamed-color-549bd1: #549bd1;
  --unnamed-color-9d8d8d: #9d8d8d;

  /* Font/text values */
  --unnamed-font-family-trebuchet-ms: Trebuchet MS, sans serif;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-25: 25px;
  --unnamed-font-size-31: 31px;
  --unnamed-font-size-39: 39px;
  --unnamed-font-size-48: 48px;
  --unnamed-character-spacing-0-5: 0.5px;
  --unnamed-character-spacing-0-62: 0.62px;
  --unnamed-character-spacing-0-78: 0.78px;
  --unnamed-character-spacing-0-96: 0.96px;
  --unnamed-character-spacing-0-32: 0.32px;
  --unnamed-character-spacing-0-4: 0.2px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-36: 36px;
  --unnamed-line-spacing-40: 40px;
  --unnamed-line-spacing-50: 50px;
  --unnamed-line-spacing-70: 70px;
  --text-padding: 0.5em;

  /* Univesal text styling */
  text-align: center;
  scroll-behavior: smooth;
}

/* Character Styles */
h3 {
  text-align: center;
  font: normal normal bold 31px/40px Trebuchet MS, sans-serif;
  letter-spacing: 0.62px;
  color: #389cd6;
  opacity: 1;
  line-height: var(--unnamed-line-spacing-40);
  margin: 40px 0 32px;
  color: var(--unnamed-color-549bd1);
}

p {
  color: var(--dark-gray);
  text-align: center;
  font: normal normal normal 16px/22px Trebuchet MS, sans-serif;
  letter-spacing: 0.32px;
  color: #7b7070;
  opacity: 1;
  padding: 0.5em;
}

.p-large {
  font-family: var(--unnamed-font-family-trebuchet-ms);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0-4);
}

a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-22)
    var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-32);
  color: var(--white);
  text-align: center;
  opacity: 1;
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 768px) {
  h3 {
    line-height: var(--unnamed-line-spacing-50);
    letter-spacing: var(--unnamed-character-spacing-0-78);
    color: var(--unnamed-color-549bd1);
    text-align: center;
    font: normal normal bold 39px/50px Trebuchet MS, sans-serif;
    letter-spacing: 0.78px;
    opacity: 1;
    margin: 80px 0 40px;
  }

  p {
    color: var(--dark-gray);
    text-align: center;
    font: normal normal normal 20px/28px Trebuchet MS, sans-serif;
    letter-spacing: 0.4px;
    padding: 0.5em;
  }
}
